body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  overflow: hidden;
}

canvas
{
  width: 100%;
  height: 100%;
}

#drawing-name
{
    width: 96px;
}

#sidebar
{
    position: absolute;
    left: 0px;
    top: 0px;

    height: 100%;

    color: white;
    background-color: darkmagenta;
}

#info
{
  color: white;
  width: 256px;
  display: none;
}

.panel
{
    margin: 8px;
}

#menu
{
  width: 256px;
  color: white;
}

#menu > input
{
  width: 64px;
}

#palette
{
  display: grid;
  padding: 4px;
  grid-gap: 4px;
  grid-template-columns: repeat(4, 1fr);

  background-color: mediumaquamarine;
}

#palette > div
{
  width: 48px;
  height: 48px;

  background-color: pink;
}

#palette > div > button
{
  width: 100%;
  height: 100%;
  background-color: greenyellow;
  border: 2px solid #4CAF50;

  color: white;
}

#brushes
{
  display: grid;
  padding: 4px;
  grid-gap: 4px;
  grid-template-columns: repeat(4, 1fr);

  background-color: mediumaquamarine;
}

#brushes > div
{
  width: 48px;
  height: 48px;

  background-color: pink;
}

#brushes > div > button
{
  width: 100%;
  height: 100%;
  background-color: greenyellow;
  border: 2px solid #4CAF50;
}
