body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  overflow: hidden;
}

canvas
{
  width: 100%;
  height: 100%;
}

.panel
{
  position: absolute;
}

#info
{
  color: white;

  left: 32px;
  top: 32px;

  width: 256px;
}

#menu
{
  left: 32px;
  top: 256px;

  width: 256px;

  color: white;
}

#menu > input
{
  width: 64px;
}

#palette
{
  display: grid;
  padding: 4px;
  grid-gap: 4px;
  grid-template-columns: repeat(4, 1fr);

  left: 32px;
  top: 512px;

  background-color: mediumaquamarine;
}

#palette > div
{
  width: 32px;
  height: 32px;

  background-color: pink;
}

#palette > div > button
{
  width: 100%;
  height: 100%;
  background-color: greenyellow;
  border: 2px solid #4CAF50;

  color: white;
}

#brushes
{
  display: grid;
  padding: 4px;
  grid-gap: 4px;
  grid-template-columns: repeat(4, 1fr);

  left: 32px;
  top: 384px;

  background-color: mediumaquamarine;
}

#brushes > div
{
  width: 48px;
  height: 48px;

  background-color: pink;
}

#brushes > div > button
{
  width: 100%;
  height: 100%;
  background-color: greenyellow;
  border: 2px solid #4CAF50;
}
